<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout responsive size-auto>
   <vaadin-label style-name="h2" _id="l_message" :middle :center>
     Message 
   </vaadin-label>
   <vaadin-horizontal-layout :middle :center>
    <vaadin-button icon="fonticon://FontAwesome/f00c" description="Clique aqui ou aperte Enter para confirmar" style-name="primary small" width="100px" plain-text _id="yes">
      Sim 
    </vaadin-button>
    <vaadin-button icon="fonticon://FontAwesome/f00c" description="Clique aqui ou aperte F1 para confirmar" style-name="danger small" width="100px" plain-text _id="yes_d">
      Sim 
    </vaadin-button>
    <vaadin-button icon="fonticon://FontAwesome/f00d" description="Clique aqui ou aperte F2 para cancelar" style-name="small" width="100px" plain-text _id="no">
      Não 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>
